<div th:fragment="training(training)">
    <div class="font-bold text-xl" th:text="${training.description}"></div>
    <div class="text-lg" th:text="${training.dayOfWeek.name}"></div>
    <div class="text-lg" th:text="${training.fromTime + ' - ' + training.toTime}"></div>

    <div class="grid grid-cols-1">
        <div class="font-bold text-xl">Ausnahmen</div>
        <div id="exceptions" class="grid grid-cols-1 gap-2 py-2">
            <th:block th:each="skippedDay : ${training.skippedDays}" >
                <div th:replace="~{entity/training-skipped-date :: skipped-day(${skippedDay})}"></div>
            </th:block>
        </div>
        <button class="bg-blue-300 text-white rounded p-2"
                th:hx-get="${training.links.get('skippedDateFrom')}"
                hx-target="#exceptions"
                hx-swap="beforeend"><i class="fa-solid fa-plus"></i></button>
    </div>
</div>
