<button th:fragment="nav-button(target, label)"
        class="font-bold text-gray-500 hover:bg-gray-200 cursor-pointer bg-gray-100 py-1 px-2 rounded"
        th:hx-get="${target}" hx-target="#view" th:text="${label}"></button>

<button th:fragment="item-operation(operation, entity, icon)"
        th:if="${entity.links.containsKey(operation)}"
        th:hx-get="${entity.links.get(operation)}"
        class="bg-blue-700 opacity-70 px-2 py-1 rounded hover:opacity-100 cursor-pointer"
        hx-target="#view"><i th:class="${icon}"></i>
</button>

<div th:fragment="item-operations(entity)" class="flex flex-row-reverse gap-2 text-cs">
    <th:block th:replace="~{components/button :: item-operation('entity', ${entity}, 'fa-solid fa-eye')}"/>
    <th:block th:replace="~{components/button :: item-operation('edit', ${entity}, 'fa-solid fa-pen-to-square')}"/>
    <th:block th:replace="~{components/button :: item-operation('delete', ${entity}, 'fa-solid fa-trash')}"/>
</div>
