<!-- TEXT-INPUT -->
<div th:fragment="text-input(name, label, value)" class="bg-gray-200 rounded p-2">
    <label th:for="${name}" class="block text-xs font-bold pb-2" th:text="${label}"></label>
    <input th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white" th:value="${value}"/>
</div>

<!-- TEXT-INPUT (disabled) -->
<div th:fragment="text-input-disabled(name, label, value)" class="bg-gray-200 rounded p-2">
    <label th:for="${name}" class="block text-xs font-bold pb-2" th:text="${label}"></label>
    <input th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white" th:value="${value}" disabled/>
</div>

<!-- SUBMIT -->
<div th:fragment="submit(label, backlink)" class="flex gap-2 justify-end col-span-2">
    <button class="bg-gray-300 hover:bg-gray-400 rounded p-2 px-4 font-bold cursor-pointer"
            hx-target="#view"
            th:hx-get="${backlink}">Abbrechen
    </button>
    <button type="submit"
            class="bg-orange-300 hover:bg-orange-400 rounded p-2 px-4 font-bold cursor-pointer"
            th:text="${label}"></button>
</div>

<!-- From Slot -->
<div th:fragment="fromSlot(name)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2" th:for="${name}">Start
        Zeit</label>
    <select th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white">
        <option value="">---</option>
        <th:block th:each="slot : ${slotCollection.items}">
            <th:block th:switch="${param.slotId != null && param.slotId[0] == slot.id.toString()}">
                <option th:case="${true}" selected th:value="${slot.id}" th:text="${slot.time}"></option>
                <option th:case="${false}" th:value="${slot.id}" th:text="${slot.time}"></option>
            </th:block>
        </th:block>
    </select>
</div>

<!-- To Slot -->
<div th:fragment="toSlot(name)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2" th:for="${name}">End Zeit</label>
    <select th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white">
        <option value="">---</option>
        <option th:each="slot : ${slotCollection.items}" th:value="${slot.id}" th:text="${slot.endTime}"></option>
    </select>
</div>

<!-- Court -->
<div th:fragment="court(name)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2" th:for="${name}">Platz</label>
    <select th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white">
        <option value="">---</option>
        <th:block th:each="court : ${courtCollection.items}">
            <th:block th:switch="${param.courtId != null && param.courtId[0] == court.id}">
                <option th:case="${true}" selected th:value="${court.id}" th:text="${court.name}"></option>
                <option th:case="${false}" th:value="${court.id}" th:text="${court.name}"></option>
            </th:block>
        </th:block>
    </select>
</div>

<!-- COURTS (Multiselect) -->
<div th:fragment="courts(name)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2">PLAETZE</label>
    <div th:each="court : ${courtCollection.items}">
        <input th:id="${'court-' + court.id}" th:value="${court.id}" type="checkbox" th:name="${name}"/>
        <label th:for="${'court-' + court.id}" th:text="${court.name}"></label>
    </div>
</div>

<!-- Date -->
<div th:fragment="date(name)" class="bg-gray-200 rounded p-2 col-span-2">
    <label class="block text-xs font-bold pb-2" th:for="${name}">Datum</label>
    <input th:name="${name}" th:id="${name}" type="date" th:value="${param.date != null ? param.date[0] : ''}"
           class="block w-full rounded p-1 bg-white">
</div>

<!-- DAY-OF-WEEK -->
<div th:fragment="dayOfWeek(name)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2" th:for="${name}">Wochentag</label>
    <select th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white">
        <option value="">---</option>
        <option th:each="item : ${dayOfWeekCollection}" th:value="${item.id}" th:text="${item.name}"></option>
    </select>
</div>

<!-- TEAM -->
<div th:fragment="team(name)" class="bg-gray-200 rounded p-2 col-span-2">
    <label th:for="${name}" class="block text-xs font-bold pb-2">TEAM</label>
    <select th:id="${name}" th:name="${name}" class="block w-full rounded p-1">
        <option th:each="team : ${teamCollection.items}" th:value="${team.id}" th:text="${team.name}"></option>
    </select>
</div>

<!-- Member -->
<div th:fragment="member(name, title)" class="bg-gray-200 rounded p-2">
    <label th:for="${name}" class="block text-xs font-bold pb-2" th:text="${title}"></label>
    <select th:id="${name}" th:name="${name}" class="block w-full rounded p-1 bg-white">
        <option th:each="member : ${memberCollection.items}" th:value="${member.id}"
                th:text="${member.firstname + ' ' + member.lastname}"></option>
    </select>
</div>

<!-- PlayerSelf -->
<div th:fragment="playerSelf(name, title)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2" th:text="${title}" th:for="${name}"></label>
    <select class="block w-full rounded p-1 bg-white" th:name="${name}">
        <th:block th:each="member: ${memberCollection.items}">
            <th:block th:if="${userId == member.id}">
                <option selected th:value="${member.id}" th:text="${member.firstname + ' ' + member.lastname}"></option>
            </th:block>
        </th:block>
    </select>
</div>

<!-- Player -->
<div th:fragment="player(name, title)" class="bg-gray-200 rounded p-2">
    <label class="block text-xs font-bold pb-2" th:text="${title}" th:for="${name}"></label>
    <select class="block w-full rounded p-1 bg-white" th:name="${name}" th:id="${name}">
        <option value="">---</option>
        <th:block th:each="member: ${memberCollection.items}">
            <option th:value="${member.id}" th:text="${member.firstname + ' ' + member.lastname}"></option>
        </th:block>
    </select>
</div>

<!-- Duration -->
<div th:fragment="duration(name, title)" class="bg-gray-200 rounded p-2">
    <label th:for="${name}" th:text="${title}" class="block text-xs font-bold pb-2">Dauer</label>
    <select th:name="${name}" th:id="${name}" class="block w-full rounded p-1 bg-white">
        <option value="0">00:30</option>
        <option value="1" selected>01:00</option>
        <option value="2">01:30</option>
        <option value="3">02:00</option>
    </select>
</div>
