<div class="p-2">
    <form th:hx-post="${teamCollection.links.get('create')}" hx-target="#view" class="grid grid-cols-2 gap-2">
        <div class="font-bold text-lg">
            Team erstellen
        </div>

        <div th:if="${errors}" th:each="error: ${errors}" class="bg-red-900 text-white p-2 col-span-2 font-bold">
            <span th:text="${error}"></span>
        </div>

        <div class="bg-gray-200 rounded p-2 col-span-2">
            <label class="block text-xs font-bold pb-2">Name</label>
            <input name="name" class="block w-full rounded p-1" th:value="${param.name}"/>
        </div>

        <div class="bg-gray-200 rounded p-2 col-span-2">
            <label class="block text-xs font-bold pb-2">Captain</label>
            <select name="captainMemberId" class="block w-full rounded p-1">
                <option th:each="member : ${memberCollection.items}" th:value="${member.id}" th:text="${member.firstname + ' ' + member.lastname}"></option>
            </select>
        </div>

        <button class="col-span-2 bg-orange-300 hover:bg-orange-400 rounded p-2 font-bold" type="submit">Erstellen</button>
    </form>

    <div class="grid grid-cols-1 gap-2 pt-2">
        <div class="font-bold text-lg">
            Teams
        </div>
        <div th:each="team : ${teamCollection.items}" class="text-xs bg-blue-900 text-white rounded p-2">
            <div th:text="${team.name}" class="font-bold"></div>
            <div th:text="${team.captainName}"></div>
            <div class="flex flex-row-reverse gap-2">
                <button><i class="fa-solid fa-pen-to-square"></i></button>
                <button th:hx-delete="${team.links.get('delete')}" hx-target="#view"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
