<th:block th:replace="~{components/title :: title('Events')}"></th:block>

<div>
    <th:block th:replace="~{components/button :: nav-button('/events/create', 'Event erstellen')}"/>
</div>

<div th:each="event : ${eventCollection.items}" class="text-xs bg-blue-900 text-white rounded p-2">
    <div class="font-bold" th:text="${event.description}"></div>

    <div th:text="${event.date}"></div>
    <div>
        <span th:text="${event.fromTime}"></span> - <span th:text="${event.toTime}"></span>
    </div>

    <div class="pt-2 font-bold italic">Plaetze</div>
    <div th:each="court : ${event.courts.items}" th:text="${court.name}"></div>

    <th:block th:replace="~{components/button :: item-operations(${event})}"/>
</div>
