<!DOCTYPE html>
<html lang="de">
<head>
    <title th:text="${'TCM - ' + currentPage}"></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css"/>

    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://kit.fontawesome.com/2e37175346.js" crossorigin="anonymous"></script>
</head>

<body>

<nav class="bg-gray-100">
    <div class="p-4 pb-0 font-bold">
        Borussia Friedrichsfelde / Tennis
    </div>
    <div class="flex items-end z-50 relative flex">
        <!-- Home -->
        <div th:if="${currentPage == 'Home'}" class="border-b-2 p-4 border-gray-500 flex gap-3 items-center">
            <i class="fa-solid fa-house"></i>
            <a class="font-bold" href="/">Home</a>
        </div>
        <div th:unless="${currentPage == 'Home'}" class="border-b p-4 border-gray-300 flex gap-3 items-center text-gray-500">
            <i class="fa-solid fa-house"></i>
            <a href="/">Home</a>
        </div>

        <!-- Book -->
        <div th:if="${currentPage == 'Buchen'}" class="border-b-2 p-4 border-gray-500 flex gap-3 items-center">
            <i class="fa-regular fa-calendar-plus"></i>
            <a class="font-bold" href="/reservations">Buchen</a>
        </div>
        <div th:unless="${currentPage == 'Buchen'}" class="border-b p-4 border-gray-300 flex gap-3 items-center text-gray-500">
            <i class="fa-regular fa-calendar-plus"></i>
            <a href="/reservations">Buchen</a>
        </div>

        <!-- Admin -->
        <th:block th:if="${links.contains('Admin')}">
            <div th:if="${currentPage == 'Admin'}" class="border-b-2 p-4 border-gray-500 flex gap-3 items-center">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <a class="font-bold" href="/admin">Admin</a>
            </div>
            <div th:unless="${currentPage == 'Admin'}" class="border-b p-4 border-gray-300 flex gap-3 items-center text-gray-500">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <a href="/admin">Admin</a>
            </div>
        </th:block>

        <div class="flex-grow border-b border-gray-300"></div>
        <div></div>
        <a href="/logout" class="border-b border-gray-300 p-4 text-gray-500"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</nav>

<div id="view" th:insert="~{${view}}"></div>

</body>
</html>
